# Java / Maven
target/
*.class
.mvn/
!.mvn/wrapper/maven-wrapper.jar

# IntelliJ
.idea/
*.iml

# Angular / Node
node_modules/
dist/
.angular/
fintrack-frontend/

# Environment / secrets
*.env
application-local.properties

# OS files
.DS_Store
Thumbs.db
